/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*<===Variables===>*/

:root{
    --header-height: 3rem;
    --font-medium: 500;
    --z-fixed:100; 
}

/* Colors */
:root{
    --yellowcolor: #e3c73d;
    --blackcolor: #292929;
    --whitecolor: #FAFAFF;
    --greycolor: #616160;

}

/*Fonts*/
:root{
    --body-font: 'Montserrat', sans-serif;
    --bigfont: 4rem;
    --h2-font: 1.5rem;
    --normalfont: .925rem;
    --smallfont: .813rem;
}

/*Base*/
h1, span, a, p{
    margin: 0;
}

h2{
    text-align: center;
    margin: 5%;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*<===Body Styles===>*/
html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normalfont);
    font-weight: var(--font-medium);
    line-height: 1.6;
    background-color: var(--yellowcolor);
}

/*Layout*/
.bd-grid{
    max-width: 1920px;
    display: grid;
    grid-template-columns: 100%;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--whitecolor);
}

/*Nav*/

.nav__list{
    padding-top: 0.54rem;
    display: flex;
}

.nav__item{
    padding-right: 1rem;
    text-align: center;
}

.nav__link{
    color: var(--blackcolor);
    font-size: 1.4rem;
    padding: 0 .5rem .2rem .5rem;
}

.nav__link:hover{
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
    border-radius: 8px;
}
.nav__item:hover .nav__subitem{
    display: block;
}
.active__link{
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
    border-radius: 8px;
}

.nav__sublist{
    background-color: var(--whitecolor);
    border-radius: 0 0 8px 8px;
    opacity: .8;

}

.nav__subitem{
    display: none;
}
.nav__subitem{
    color: var(--blackcolor);
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: .5rem;
}

.nav__sublink{
    color: var(--blackcolor);
}
.nav__subitem:hover{
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
    border-radius: 8px;
}

/* Main */
.main__content{
    display: flex;
    background-color: var(--blackcolor);
}
.main__text{
    padding-left: 3rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    
}
.main__text h1{
    font-size: var(--bigfont);
    color: var(--yellowcolor);
}

.cap__first{
    font-size: 5rem;

}

.wb__phrase{
    font-size: var(--h2-font);
    color: var(--whitecolor);
    animation: unhide 8s;
    
}

.logo{
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
}
.wb__logo{
    width: 100px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/*Dicussion Board Main Body*/
.card{
    background-color:var(--yellowcolor);
    margin: 30px;
}

.card-body{
    background-color:white;
}

hr{
    border: 1.5px solid;
    margin-top: 2em;
}

label{
    font-size: 1.25em;
}

#main-discussion-content{
    margin: 0 auto;
    width: 60%;
}

.form-container
{
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

.form-text{
    color: var(--greycolor);
    font-size: medium;
}

#user-comment{
    height: 8em;
}

.btn{
    background-color: var(--blackcolor);
}
.btn:hover{
    background-color: var(--greycolor);
}

/*Divider*/
.divider{
    padding: .5rem;
    background-color: var(--blackcolor);
}
/* Landing  */
.landing{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background:linear-gradient(0deg, rgba(227,199, 61, 0.7), rgba(227,199, 61, 0.7)), url(/img/uw-sign.jpg);
    background-position: center;
    background-size: cover;
    padding: 8.25rem;
}

.layer{
    background-color: rgba(227, 199, 61, 0.7);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button__link{
    padding: 0;
    margin: 0;
}
.landing__buttons{
    margin: 0;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
}

.landing__button{
    padding: 1rem;
    background-color: var(--blackcolor);
    text-align: center;
    border-radius: 32px;
    font-size: var(--bigfont);
    color: var(--yellowcolor);

}


.landing__text{
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--blackcolor);
    text-align: center;
}

.landing__button:hover{
    background-color: var(--whitecolor);
    color: var(--blackcolor);

}

/*Footer*/
.footer{
    background-color: var(--blackcolor);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__text{
    text-align: center;
    font-size: 1rem;
    color: var(--greycolor);
}