/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*<===Variables===>*/

:root {
    --header-height: 3rem;
    --font-medium: 500;
    --z-fixed: 100;
}

/* Colors */

:root {
    --yellowcolor: #e3c73d;
    --blackcolor: #292929;
    --whitecolor: #FAFAFF;
    --greycolor: #616160;
}

/*Fonts*/

:root {
    --body-font: 'Montserrat', sans-serif;
    --bigfont: 4rem;
    --h2-font: 1.5rem;
    --normalfont: .925rem;
    --smallfont: .813rem;
}

/*Base*/

h1, h2, h3, span, a, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*<===Body Styles===>*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normalfont);
    font-weight: var(--font-medium);
    line-height: 1.6;
    height: 100vh;
}

/*Layout*/

.bd-grid {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 100%;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

header {
    width: 100%;
    height: var(--header-height);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--blackcolor);
    z-index: 1000;
}

/*Nav*/

.nav__list {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
}

.nav__item {
    padding-right: 0.5rem;
    text-align: center;
    position: relative;
    width: 20%;
}

.nav__link {
    color: var(--yellowcolor);
    font-size: 1.4rem;
    padding: 0 .5rem .2rem .5rem;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.nav__link:hover {
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
}

.nav__item:hover .nav__subitem {
    display: block;
    align-items: center;
}

.active__link {
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
    border-radius: 8px;
}

.nav__sublist {
    background-color: var(--blackcolor);
    border-radius: 0 0 8px 8px;
    opacity: .8;
    position: absolute;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
}

.nav__subitem {
    display: none;
    flex-direction: column;
    z-index: 9999;
}

.nav__subitem {
    color: var(--yellowcolor);
    font-size: 1.4rem;
    width: 100%;
    padding-bottom: .5rem;
    padding-right: .25rem;
    padding-left: .25rem;
    border-radius: 8px;
}

.nav__sublink {
    color: var(--yellowcolor);

}

.nav__subitem:hover {
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    z-index: 9999;
}

/*Animations*/

#anim__heading {
    position: relative;
    margin: 0;
    padding: 0;
    /*animation: fill-logo 5s ease forwards 6s;*/
    fill: none;
    width: 100%;
}

#anim__heading path:nth-child(2) {
    stroke-dasharray: 735.9708862304688px;
    stroke-dashoffset: 735.9708862304688px;
    animation: line-anim 2s ease forwards;
}

#anim__heading path:nth-child(3) {
    stroke-dasharray: 484.5100402832031px;
    stroke-dashoffset: 484.5100402832031px;
    animation: line-anim 2s ease forwards 0.3s;
}

#anim__heading path:nth-child(4) {
    stroke-dasharray: 329.1600341796875px;
    stroke-dashoffset: 329.1600341796875px;
    animation: line-anim 2s ease forwards 0.6s;
}

#anim__heading path:nth-child(5) {
    stroke-dasharray: 510.3800048828125px;
    stroke-dashoffset: 510.3800048828125px;
    animation: line-anim 2s ease forwards 0.9s;
}

#anim__heading path:nth-child(6) {
    stroke-dasharray: 548.85px;
    stroke-dashoffset: 548.85px;
    animation: line-anim 2s ease forwards 1.2s;
}

#anim__heading path:nth-child(7) {
    stroke-dasharray: 303.16px;
    stroke-dashoffset: 303.16px;
    animation: line-anim 2s ease forwards 1.5s;
}

#anim__heading path:nth-child(8) {
    stroke-dasharray: 537.67px;
    stroke-dashoffset: 537.67px;
    animation: line-anim 2s ease forwards 1.8s;
}

#anim__heading path:nth-child(9) {
    stroke-dasharray: 537.67px;
    stroke-dashoffset: 537.67px;
    animation: line-anim 2s ease forwards 2.1s;
}

#anim__heading path:nth-child(10) {
    stroke-dasharray: 645.05px;
    stroke-dashoffset: 645.05px;
    animation: line-anim 2s ease forwards 2.4s;
}

#anim__heading path:nth-child(11) {
    stroke-dasharray: 484.51px;
    stroke-dashoffset: 484.51px;
    animation: line-anim 2s ease forwards 2.7s;
}

#anim__heading path:nth-child(12) {
    stroke-dasharray: 457.22px;
    stroke-dashoffset: 457.22px;
    animation: line-anim 2s ease forwards 3s;
}

#anim__heading path:nth-child(13) {
    stroke-dasharray: 201.24px;
    stroke-dashoffset: 201.24px;
    animation: line-anim 2s ease forwards 3.3s;
}

#anim__heading path:nth-child(14) {
    stroke-dasharray: 419.98px;
    stroke-dashoffset: 419.98px;
    animation: line-anim 2s ease forwards 3.6s;
}

#anim__heading path:nth-child(15) {
    stroke-dasharray: 457.22px;
    stroke-dashoffset: 457.22px;
    animation: line-anim 2s ease forwards 3.9s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-logo {
    to {
        fill: #e3c73d;
    }
}

@keyframes fill-w {
    to {
        fill: #010000;
    }
}

@keyframes fill-b {
    to {
        fill: #f2d500;
    }
}

@keyframes unhide {
    from {
        color: var(--whitecolor);
    }
    to {
        color: var(--greycolor);
    }
}

/*Logo Animation*/

#layer101 path:nth-child(1) {
    stroke-dasharray: 13258.5927734375px;
    stroke-dashoffset: 13258.5927734375px;
    animation: line-anim 2s ease forwards 0.3s;
}

#layer101 path:nth-child(2) {
    stroke-dasharray: 121.73869323730469px;
    stroke-dashoffset: 121.73869323730469px;
    animation: line-anim 2s ease forwards 0.6s;
}

#layer101 path:nth-child(3) {
    stroke-dasharray: 7730.04931640625px;
    stroke-dashoffset: 7730.04931640625px;
    animation: line-anim 2s ease forwards 0.9s;
}

#layer102 path:nth-child(1) {
    stroke-dasharray: 14098.4638671875px;
    stroke-dashoffset: 14098.4638671875px;
    animation: line-anim 2s ease forwards 1.2s;
}

#layer101 {
    animation: fill-w 2.2s ease forwards 1.5s;
}

#layer102 {
    animation: fill-b 2.2s ease forwards 1.8s;
}

/* Main */

.main {
    height: 100vh;
}

.main__content {
    height: 15rem;
    display: flex;
    background-color: var(--whitecolor);
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main__text {
    position: relative;
    top: 50%;
    transform: translate(0, -15%);
    padding-left: 2rem;
}

.main__text h1 {
    font-size: var(--bigfont);
    color: var(--yellowcolor);
}

.cap__first {
    font-size: 5rem;
}

.wb__phrase {
    font-size: var(--h2-font);
    color: var(--greycolor);
    animation: unhide 8s;
}

.logo {
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2rem;
}

.wb__logo {
    width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: block;
}



/*Divider*/

.divider {
    padding: .5rem;
    background-color: var(--blackcolor);
}

/* Landing  */

.landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/uw-sign.jpg);
    background-position: center;
    background-size: cover;
    padding: 8.25rem;
}

.layer {
    background-color: rgba(227, 199, 61, 0.7);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button__link {
    padding: 0;
    margin: 0;
}

.landing__buttons {
    margin: 0;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: center;
}

.landing__button {
    padding: 1rem;
    background-color: var(--blackcolor);
    text-align: center;
    border-radius: 32px;
    font-size: var(--bigfont);
    color: var(--yellowcolor);
    transition: 0.3s;
}

.landing__text {
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--blackcolor);
    text-align: center;
}

.landing__button:hover {
    background-color: var(--whitecolor);
    color: var(--blackcolor);
}

/*Subheader*/



/*Footer*/

.footer__div {
    width: 100%;
}

.footer {
    background-color: var(--blackcolor);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.footer__text {
    text-align: center;
    font-size: 1rem;
    color: var(--greycolor);
}

/*Applying Page Styles*/

/*Applying Animation*/

#applying__svg path:nth-child(1) {
    stroke-dasharray: 1534.7962036132812px;
    stroke-dashoffset: 1534.7962036132812px;
    animation: line-anim 2s ease forwards 0.3s;
}

#applying__svg path:nth-child(2) {
    stroke-dasharray: 516.3738403320312px;
    stroke-dashoffset: 516.3738403320312px;
    animation: line-anim 2s ease forwards 0.6s;
}

#applying__svg path:nth-child(3) {
    stroke-dasharray: 516.3738403320312px;
    stroke-dashoffset: 516.3738403320312px;
    animation: line-anim 2s ease forwards 0.9s;
}

#applying__svg path:nth-child(4) {
    stroke-dasharray: 358.79998779296875px;
    stroke-dashoffset: 358.79998779296875px;
    animation: line-anim 2s ease forwards 1.2s;
}

#applying__svg path:nth-child(5) {
    stroke-dasharray: 412.0283203125px;
    stroke-dashoffset: 412.0283203125px;
    animation: line-anim 2s ease forwards 1.5s;
}

#applying__svg path:nth-child(6) {
    stroke-dasharray: 249px;
    stroke-dashoffset: 249px;
    animation: line-anim 2s ease forwards 1.8s;
}

#applying__svg path:nth-child(7) {
    stroke-dasharray: 606.3861083984375px;
    stroke-dashoffset: 606.3861083984375px;
    animation: line-anim 2s ease forwards 2.1s;
}

#applying__svg path:nth-child(8) {
    stroke-dasharray: 549.9517822265625px;
    stroke-dashoffset: 549.9517822265625px;
    animation: line-anim 2s ease forwards 2.4s;
}

#applying__svg-paths {
    animation: fill-logo 0.5s ease forwards 3s;
}

/*Applying Page Options*/

.options__section {
    height: 60vh;
    overflow: hidden;
}

.options__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.option {
    position: relative;
    height: 30vh;
    background: var(--yellowcolor);
}

@keyframes unhide__option {
    from {
        background: var(--yellowcolor);
    }
    to {
        background: #000000;
    }
}

.option:hover .option__label {
    display: none;
}

.option:hover {
    background: #000000;
    animation: unhide__option .5s;
}

.option:hover .option__desc {
    display: block;
}

.option__label {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #000000;
}

.option__desc {
    display: none;
    text-align: center;
    color: var(--whitecolor);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 38px 0 38px;
}

.aif__option:hover .option__label {
    display: none;
}

.option__interview{
    height: 200px;
    width: auto;
    background-color: var(--yellowcolor);
}

.option__interview {
    height: 200px;
    width: auto;
    background-color: var(--yellowcolor);
}

.aif__option:hover .option__desc {
    display: block;
}

.grades__option:hover .option__label {
    display: none;
}

.grades__option:hover {
    background: #000000;
}

.grades__option:hover .option__desc {
    display: block;
}

.interview__option:hover .option__label {
    display: none;
}

.interview__option:hover {
    background: #000000;
}

.interview__option:hover .option__desc {
    display: block;
}

.programs__option:hover .option__label {
    display: none;
}

.programs__option:hover {
    background: #000000;
}

.programs__option:hover .option__desc {
    display: block;
}

.universities__option:hover .option__label {
    display: none;
}

/*AIF Page */

.aif__info {
    height: auto;
    background: var(--whitecolor);
}

.aif__header {
    background-color: var(--whitecolor);
    font-size: 45px;
    text-align: center;
    color: var(--blackcolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.aif__heading {
    position: relative;
    right: 20%;
    align-self: center;
    line-height: 70px;
}

.aif__header-submenu {
    background-color: #000000;
    color: var(--yellowcolor);
    font-size: 20px;
    width: 60%;
    height: auto;
    text-align: left;
    padding: 15px 0 15px 24px;
}

.submenu__link {
    color: var(--yellowcolor);
}

.submenu__link:hover {
    border-bottom: 2px solid var(--yellowcolor);
}

.aif__header-div {
    background-color: #000000;
    height: 5px;
}

.aif__info-link {
    text-decoration: none;
    color: var(--yellowcolor);
    border-bottom: var(--yellowcolor) solid 1px;
}

.aif__info-txt {
    display: block;
    background: var(--whitecolor);
    margin: 2% 10% 5% 10%;
    padding: 0 5px 100px 5px;
    border-radius: 5px;
}

.aif__info-header {
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
    color: var(--blackcolor);
}

.aif__info-para {
    font-size: 18px;
    color: var(--blackcolor);
    list-style-type: disc;
}

.aif__info-ol-li {
    font-size: 22px;
}

.aif__histo {
    width: 400px;
    height: auto;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.aif__info-ul {
    list-style-type: disc;
    margin-left: 38px;
    font-size: 18px;
    color: var(--blackcolor);
}

/*MEDIA QUERIES*/

.mobile__wb-heading {
    display: none;
}

.mobile-header {
    display: none;
}

.hamburger {
    display: none;
}

.mobile__applying-heading{
    display: none;
}

@keyframes fill-w-white {
    to{
        fill: #ffffff
    }
}
@media screen and (max-width: 820px){
    /*Header*/
    .wb__heading {
        width: 50px;
        height: auto;
    }
    .main__content {
        display: grid;
        grid-template-columns: 1fr
    }
    .wb__phrase {
        position: relative;
        top: 15%;
        left: 0;
        font-size: 18px;
        transform: translate(0, -50%);
    }
    .logo {
        display: none;
    }
    .mobile-logo {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 0 0 5%;
    }
    .wb__logo {
        width: 100px;
    }
    .wb__heading {
        display: none;
    }
    .mobile__wb-heading {
        display: block;
        font-size: 40px;
        line-height: 60px;
        position: relative;
        top: 25%;
        transform: translate(0, -50%);

    }

    #layer101{
        animation: fill-w-white 2.2s ease forwards 1.5s;
    }
    /*Nav*/
    .mobile-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        top: 0;
        width: 100%;
        height: 6rem;
        background-color: var(--blackcolor);
    }
    .header {
        width: 60%;
        height: 100%;
        position: absolute;
        background: var(--blackcolor);
        top: 6rem;
        right: 0;
        transform: translate(70%);
        display: none;
        z-index: 1000;
        opacity: .8;
    }
    .bd-grid {
        max-width: 820px;
    }
    .nav__list {
        display: block;
        justify-content: left;
        background: var(--blackcolor);
    }
    .nav__item {
        text-align: left;
        padding-bottom: 10%;
        justify-content: left;
        width: 50%;
        padding-bottom: 0;
    }
    .nav__link {
        justify-content: left;
    }

    .nav__sublist{
        position: relative;
        list-style: outside;
    }
    .nav__subitem{
        display: block;
        font-size: 16px;
        padding-left: 2rem;
        list-style: disc;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        border: none;
        background-color: var(--blackcolor);
        outline: none;
    }
    #nav-icon {
        color: var(--yellowcolor);
        font-size: 48px;
        display: block;
    }
    #nav-icon-x {
        color: var(--yellowcolor);
        font-size: 48px;
        display: none;
    }
    /*Landing*/
    .landing {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .landing__buttons {
        position: relative;
        top: 0;
        left: 0;
    }
    .landing__button {
        font-size: 40px;
    }

    /*Applying Page*/

    /*Heading*/
    .mobile__applying-heading{
        display: block;
        margin: 0 0 0 0;
        padding: 0 0 0 0 ;
        position: relative;
        top: 10%;
    }

    /*Options*/
    .options__section{
        overflow: auto;
    }
    .options__grid{
        grid-template-columns: 1fr 1fr;
    }
    
    .option{
        height: 20vh;
    }

    .option__desc{
        font-size: 12px;
    }

    .option__label{
        font-size: 28px;
    }

    /*AIF Page*/
    .aif__header{
        font-size: 30px;
    }

    .aif__header-submenu{
        font-size: 14px;
    }

    .submenu__option{
        padding-bottom: 6px;
    }
}

/*Platforms page links*/

.platforms {
    padding: 30px 50px;
}

a.plinks:link, a.plinks:visited {
    color: black;
    text-decoration: underline;
}

a.plinks:hover, a.plinks:active {
    color: #F6C240;
}

/*Resources page links*/

.resources {
    padding: 30px 50px;
}

a.rlinks:link, a.rlinks:visited {
    color: black;
    text-decoration: underline;
}

a.rlinks:hover, a.rlinks:active {
    color: #F6C240;
}

/*Incoming page styles*/

/*Incoming Annimation*/

#incoming__svg path:nth-child(0) {
    stroke-dasharray: 222.91197204589844px;
    stroke-dashoffset: 222.91197204589844px;
    animation: line-anim 2s ease forwards 0.3s;
}

#incoming__svg path:nth-child(1) {
    stroke-dasharray: 612.7098388671875px;
    stroke-dashoffset: 612.7098388671875px;
    animation: line-anim 2s ease forwards 0.6s;
}

#incoming__svg path:nth-child(2) {
    stroke-dasharray: 465.2091979980469px;
    stroke-dashoffset: 465.2091979980469px;
    animation: line-anim 2s ease forwards 0.9s;
}

#incoming__svg path:nth-child(3) {
    stroke-dasharray: 612.7098388671875px;
    stroke-dashoffset: 612.7098388671875px;
    animation: line-anim 2s ease forwards 1.2s;
}

#incoming__svg path:nth-child(4) {
    stroke-dasharray: 735.2161254882812px;
    stroke-dashoffset: 735.2161254882812px;
    animation: line-anim 2s ease forwards 1.5s;
}

#incoming__svg path:nth-child(5) {
    stroke-dasharray: 595.5713500976562px;
    stroke-dashoffset: 595.5713500976562px;
    animation: line-anim 2s ease forwards 1.8s;
}

#incoming__svg path:nth-child(6) {
    stroke-dasharray: 735.2161254882812px;
    stroke-dashoffset: 735.2161254882812px;
    animation: line-anim 2s ease forwards 2.1s;
}

#incoming__svg path:nth-child(7) {
    stroke-dasharray: 534.3699340820312px;
    stroke-dashoffset: 534.3699340820312px;
    animation: line-anim 2s ease forwards 2.4s;
}

#incoming__svg path:nth-child(8) {
    stroke-dasharray: 612.7098388671875px;
    stroke-dashoffset: 612.7098388671875px;
    animation: line-anim 2s ease forwards 2.7s;
}

#incoming__svg path:nth-child(9) {
    stroke-dasharray: 534.3699340820312px;
    stroke-dashoffset: 534.3699340820312px;
    animation: line-anim 2s ease forwards 3.0s;
}

#incoming__svg-paths {
    animation: fill-logo 2s ease forwards 3.2s;
}

/*Incoming Options*/

.incoming__options__section {
    height: 60vh;
    z-index: 0;
}

.incoming__options__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.option__label {
    color: var(--whitecolor);
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 250px;
}

.option__link {
    color: var(--whitecolor);
}

.option__platforms {
    height: 30vh;
    width: auto;
    background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/platforms__icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.option__platforms:hover .option__desc{
    display: block;
}
.option__platforms:hover .option__label{
    display: none;
}

@keyframes unhide__optionplat {
    from {
        background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/platforms__icon.jpg);
    }
    to {
        background: #000000;
    }
}

.option__platforms:hover{
    background: #000000;
    animation: unhide__optionplat .5s;
}


.option__resources {
    height: 30vh;
    width: auto;
    background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/resources__icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.option__resources:hover .option__desc{
    display: block;
}
.option__resources:hover .option__label{
    display: none;
}

@keyframes unhide__optionres {
    from {
        background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/resources__icon.jpg);
    }
    to {
        background: #000000;
    }
}

.option__resources:hover{
    background: #000000;
    animation: unhide__optionres .5s;
}


.option__howtoprepare {
    height: 30vh;
    width: auto;
    background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/howtoprepare__icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.option__howtoprepare:hover .option__desc{
    display: block;
}
.option__howtoprepare:hover .option__label{
    display: none;
}

@keyframes unhide__optionprep {
    from {
        background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/howtoprepare__icon.jpg);
    }
    to {
        background: #000000;
    }
}

.option__howtoprepare:hover{
    background: #000000;
    animation: unhide__optionprep .5s;
}


.option__getinvolved {
    height: 30vh;
    width: auto;
    background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/getinvolved__icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.option__getinvolved:hover .option__desc{
    display: block;
}
.option__getinvolved:hover .option__label{
    display: none;
}

@keyframes unhide__optioninv {
    from {
        background: linear-gradient(0deg, rgba(227, 199, 61, 0.7), rgba(227, 199, 61, 0.7)), url(/img/getinvolved__icon.jpg);
    }
    to {
        background: #000000;
    }
}

.option__getinvolved:hover{
    background: #000000;
    animation: unhide__optioninv .5s;
}

/* how to prepare styles*/

/* how to prepare side nav bar*/

.side__bar {
    font-size: 1.2rem;
    padding: 1% 0 1% 1.6%;
    background-color: black;
    min-width: 25%;
}

.options__howtoprepare {
    position: relative;
    max-width: 100%;
}

.should__subitem {
    position: relative;
    left: 20%;
    font-size: 1rem;
}

.option__need {
    color: var(--yellowcolor);
}

.option__should {
    color: var(--yellowcolor);
}

.should__subitem {
    color: var(--yellowcolor);
}

.option__need:hover {
    border-bottom: 2px solid var(--yellowcolor);
}

.option__should:hover {
    border-bottom: 2px solid var(--yellowcolor);
}

.should__subitem:hover {
    border-bottom: 2px solid var(--yellowcolor);
}

.howtoprepare__bar{
    display: flex;
    border-bottom: 1px solid var(--blackcolor);
    max-width: 100%;
    background-color: var(--whitecolor);
}

.howtoprepare__title{
    position: relative;
    font-size: 6rem;
    color: var(--yellowcolor);
    font-variant: small-caps;
    left: 15%;
    max-width: 100%;
}

.howtoprepare__sub__title{
    position: relative;
    left: 16%;
    bottom: 20%;
    font-size: 1.5rem;
    color: var(--greycolor);
    max-width: 100%;
}

@media (max-width: 800px){
    .howtoprepare__sub__title{
        display: none;
    }
    .howtoprepare__title{
        color: black;
        max-width: 100%;
        font-size: 3rem;
    }
}
/*how to prepare main content*/

.howtoprepare__need__list{
    list-style-type: square;
    color: black;
    max-width: 100%;
}

.howtoprepare__should__list{
    list-style-type: square;
    color: black;
    max-width: 100%;
    border-top: 1px solid var(--greycolor);
}

.howtoprepare__link{
    text-decoration: underline;
    color: var(--greycolor);
}

.howtoprepare__content{
    background-color: var(--whitecolor);
    max-width: 100%;
}

.howtoprepare__subtitle{
    position: relative;
    left: 4%;
    font-size: 2rem;
    color: var(--yellowcolor);
    list-style-type: none;
    max-width: 75%;
    padding: 0.8%;
    padding-left: none;
}

.howtoprepare__intro {
    position: relative;
    left: 5%;
    list-style-type: none;
    font-size: 1.3rem;
    color: var(--greycolor);
    max-width: 80%;
}

.howtoprepare__item{
    position: relative;
    left: 10%;
    color: var(--blackcolor);
    max-width: 80%;
    padding: 0.8%;
    font-size: 1.2rem;
}

.howtoprepare__subitem{
    position: relative;
    left: 20%;
    max-width:75%;
    padding: 0.3%;
    list-style-type: circle;
    font-size: 1rem;
}

.howtoprepare__subitem2{
    position: relative;
    left: 30%;
    max-width:50%;
    padding: 0.3%;
    list-style-type: circle;
    font-size: 1rem;
}

.howtoprepare__subitem3{
    position: relative;
    left: 40%;
    max-width:50%;
    padding: 0.3%;
    list-style-type: circle;
    font-size: 1rem;
}

.howtoprepare__should__subtitle{
    position: relative;
    left: 5%;
    font-size: 1.3rem;
    color: var(--greycolor);
    list-style-type: none;
    max-width: 90%;
    border-top: 1px solid var(--greycolor);
    padding: 0.8%;
}


/* get involved  */

.button {
    display: grid;
    justify-items: center;
    background-position: center;
    background-size: cover;
}

.button_text {
    padding: 1rem;
    background-color: var(--blackcolor);
    text-align: center;
    width: 10em;
    border-radius: 32px;
    font-size: 35px;
    color: var(--yellowcolor);
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.button_text:hover {
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
}

/*get involved - athletics buttons*/

.athletics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-position: center;
    background-size: cover;
}

.button_text1 {
    text-align: center;
    padding: 1rem;
    background-color: var(--blackcolor);
    border-radius: 32px;
    font-size: 35px;
    color: var(--yellowcolor);
    margin-top: 20px;
    justify-content: center;
    width: 10em;
    transition: 0.3s;
}

.button_text1:hover {
    background-color: var(--yellowcolor);
    color: var(--blackcolor);
}

/*image: waterloo1.jpg settings*/

.pic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 400px;
    width: auto;
}

/* get involved - content*/

.title-getinvolved {
    font-size: 45px;
    margin-left: 10%;
    margin-top: 50px;
}

.intro {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    text-align: left;
}

.clubs {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 50px;
    font-weight: bolder;
}

.clubs-desc {
    font-size: 1.5rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    text-align: left;
}

.subtitle {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 50px;
    text-decoration: underline;
}

.gradegraphs {
    display: inline;
    justify-items: center;
}

/*About Us*/
/*About Us svg animation*/

#AboutUs__svg path:nth-child(2){
stroke-dasharray:607.352294921875;
stroke-dashoffset:607.352294921875;
animation: line-anim 2s ease forwards 0s;
}

#AboutUs__svg path:nth-child(3){
stroke-dasharray:527.4256591796875;
stroke-dashoffset:527.4256591796875;
animation: line-anim 2s ease forwards 0.3s;
}

#AboutUs__svg path:nth-child(4){
stroke-dasharray:494.23272705078125;
stroke-dashoffset:494.23272705078125;
animation: line-anim 2s ease forwards 0.6s;
}

#AboutUs__svg path:nth-child(5){
stroke-dasharray:363.0921325683594;
stroke-dashoffset:363.0921325683594;
animation: line-anim 2s ease forwards 0.9s;
}

#AboutUs__svg path:nth-child(6){
stroke-dasharray:494.2328186035156;
stroke-dashoffset:494.2328186035156;
animation: line-anim 2s ease forwards 1.2s;
}

#AboutUs__svg path:nth-child(7){
stroke-dasharray:533.4012451171875;
stroke-dashoffset:533.4012451171875;
animation: line-anim 2s ease forwards 1.5s;
}

#AboutUs__svg path:nth-child(8){
stroke-dasharray:495.2237548828125;
stroke-dashoffset:495.2237548828125;
animation: line-anim 2s ease forwards 1.8s;
}


#AboutUs__svg-paths {
  animation: fill-logo 0.5s ease forwards 2.0s;
}

/*About Us*/
.About_Us {
  font-size: 40px;
}
.aboutus_main {
  margin: 0px 40px;
border-radius: 10px;
  padding: 40px 50px;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: var(--yellowcolor);
  font-size: 18px;
}


.About_Us {
  text-align: center;
  padding-top: 20px;
}
/*carousel*/

.container {
  width: 70%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel {
  border: 2px solid #ccc;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slider {
  height: 100%;
  display: flex;
  width: 200%;
  border: 1px solid red;
  transition: all 0.3s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider > section > div > p{
  display: none;
}

.slider section:hover {
  display: block;
  background: var(--blackcolor);
  transition: all 0.3s;
}

.slider section:hover > div > p{
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  cursor: pointer;
  font-size: 25px;
  font-family: serif;
  font-weight: bold;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.image1 {
  background-image: url('butterfly.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* Important Deadlines page */

/*submenu*/

.deadlines__header {
    background-color: var(--whitecolor);
    font-size: 40px;
    text-align: center;
    color: var(--blackcolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.deadlines__header-submenu {
    background-color: #000000;
    color: var(--yellowcolor);
    font-size: 20px;
    width: 60%;
    height: 160px;
    text-align: left;
    padding: 70px 0 15px 24px;
}

.submenu__link {
    color: var(--yellowcolor);
}

.submenu__link:hover {
    border-bottom: 2px solid var(--yellowcolor);
}

.Deadlines__header-div {
    background-color: #000000;
    height: 5px;
    width: 100%;
}

/*maintext*/

.Deadlines_main {
    margin: 10px;
    padding: 5px 70px;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 18px;
}

.Deadlines_main a {
  text-decoration: underline;
  color: var(--yellowcolor);
}

.deadlines_mainhead {
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

.deadlines_mainhead1 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
}

.Deadline_approximates {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    margin-bottom: 10px;
}

/*table*/

.Deadline_approximates th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.Deadline_approximates th {
    background-color: #808080;
}

.Deadline_approximates tr:nth-child(2) td:nth-child(1) {
    background-color: rgb(255, 242, 204);
}

.Deadline_approximates tr:nth-child(3) td:nth-child(1) {
    background-color: rgb(244, 204, 204);
}

.Deadline_approximates tr:nth-child(4) td:nth-child(1) {
    background-color: rgb(244, 204, 204);
}

.Deadline_approximates tr:nth-child(5) td:nth-child(1) {
    background-color: rgb(217, 234, 211);
}

.Deadline_approximates tr:nth-child(6) td:nth-child(1) {
    background-color: rgb(217, 234, 211);
}

.Deadline_approximates tr:nth-child(7) td:nth-child(1) {
    background-color: rgb(217, 234, 211);
}

.Deadline_approximates tr:nth-child(8) td:nth-child(1) {
    background-color: rgb(217, 234, 211);
}

.Deadline_approximates tr:nth-child(9) td:nth-child(1) {
    background-color: rgb(164, 194, 244);
}

.Deadline_approximates tr:nth-child(10) td:nth-child(1) {
    background-color: rgb(164, 194, 244);
}

.Deadline_approximates tr:nth-child(11) td:nth-child(1) {
    background-color: rgb(164, 194, 244);
}

.Deadline_approximates tr:nth-child(12) td:nth-child(1) {
    background-color: rgb(217, 210, 233);
}

.Deadline_approximates tr:nth-child(13) td:nth-child(1) {
    background-color: rgb(194, 123, 160);
}

.Deadline_approximates tr:nth-child(14) td:nth-child(1) {
    background-color: rgb(194, 123, 160);
}

.Deadline_approximates tr:nth-child(15) td:nth-child(1) {
    background-color: rgb(194, 123, 160);
}

.iframe_container {
  position: relative;
  height: 288px;
  width: 476px;
}

.checklist_print {
  height: 100%;
  width: 100%;
  position: absolute;
}

.checklist_mobile {
  display: none;
}

.checklist_mobile2 {
  display: none;
}

/*Important Deadlines responsive + mobile */
@media (max-width: 680px) {

  .deadlines__header{
    font-size: 20px;
  }

  .Deadlines_heading{
      line-height: 50px;
  }


  .deadlines__header-submenu{
      font-size: 20px;
      width: 60%;
      height: 160px;
      padding:45px 0 15px 24px;
  }

  .Deadlines_main {
    padding: 5px 30px;
    font-size: 17px;
  }

  .tablealign {
    align-items: center;
  }

  .Deadline_approximates th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    font-size: 12px;
  }

.iframe_container {
 display: none;
}

.checklist_mobile {
  display: block;
}

}

@media (max-width: 440px) {

  .deadlines__header{
    font-size: 15px;
  }

  .Deadlines_heading{
      padding-top: 15px;
      padding-left: 10px;
      line-height: 35px;
  }


  .deadlines__header-submenu{
      font-size: 14px;
      width: 60%;
      height: 160px;
      padding:45px 0 15px 24px;
  }

  .Deadlines_main {
    padding: 5px 20px;
    font-size: 15px;
  }

  .Deadline_approximates th, td {
    padding: 3px;
    font-size: 11px;
  }

.checklist_mobile {
  display: none;
}

.checklist_mobile2 {
  display: block;
}
    
}

/*Compare programs page*/

.programs_title {
    font-size: var(--bigfont);
    color: var(--blackcolor);
    text-align: center;
    margin: 70px 0px 20px;
}

.programs_text {
    font-size: var(--normalfont);
    color: var(--blackcolor);
    text-align: left;
    margin: 10px 150px 40px;
}

.programs_subheader {
    font-size: var(--h2-font);
    color: var(--blackcolor);
    text-align: left;
    margin: 20px 150px;
}

.programs_intro {
    font-size: var(--normalfont);
    color: var(--blackcolor);
    text-align: left;
    margin: 40px 150px 40px;
}
.programs__link{
    text-decoration: underline;
    color: var(--greycolor);
}

/*Programs page links*/

.programs__info {
    height: auto;
    background: var(--whitecolor);
}

.programs__header {
    background-color: var(--whitecolor);
    font-size: 45px;
    text-align: center;
    color: var(--blackcolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.programs__heading {
    position: relative;
    right: 20%;
    top: 35%;
    line-height: 70px;
}

.programs__header-submenu {
    background-color: #000000;
    color: var(--yellowcolor);
    font-size: 20px;
    width: 65%;
    height: auto;
    text-align: left;
    padding: 15px 0 15px 40px;
}

.programs__header-div {
    background-color: #000000;
    height: 5px;
}

/*Compare univerities page*/

.uni_title {
    font-size: var(--bigfont);
    color: var(--blackcolor);
    text-align: center;
    margin: 70px 0px 20px;
}

.uni_text {
    font-size: var(--normalfont);
    color: var(--blackcolor);
    text-align: left;
    margin: 10px 150px 40px;
}

.uni_subheader {
    font-size: var(--h2-font);
    color: var(--blackcolor);
    text-align: left;
    margin: 20px 150px;
}

.uni_intro {
    font-size: var(--normalfont);
    color: var(--blackcolor);
    text-align: left;
    margin: 40px 150px 40px;
}

/*Universities page links*/

.uni__info {
    height: auto;
    background: var(--whitecolor);
}

.uni__header {
    background-color: var(--whitecolor);
    font-size: 45px;
    text-align: center;
    color: var(--blackcolor);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.uni__heading {
    position: relative;
    right: 10%;
    top: 35%;
    line-height: 70px;
}

.uni__header-submenu {
    background-color: #000000;
    color: var(--yellowcolor);
    font-size: 20px;
    width: 75%;
    height: auto;
    text-align: left;
    padding: 15px 0 15px 40px;
}

.uni__header-div {
    background-color: #000000;
    height: 5px;
}

.Deadlines_heading {
    position: relative;
    right: 20%;
    top: 20%;
    line-height: 75px;
}

/* Customize the scroll bar for Chrome, Safari, and Edge */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333333;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

::-webkit-scrollbar-thumb:active {
    background: rgb(254, 255, 179);
}
